<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/main.css">
   <title>Home</title>
</head>

<body>
   <h1 class="container">O'quvchilar</h1>
   <div class="table container" style="margin-top: 40px;">
      <div class="table-header">
         <div href="#" class="row">
            <h4>No</h4>
            <h4>FIO</h4>
            <h4>Ball</h4>
         </div>
      </div>
      <div class="table-body">

      </div>
   </div>

   <script>
      (async () => {
         let tabele = document.querySelector('.table-body')
         let response = await fetch('/admin/api')
         let res = await response.json()

         for (let i = 0; i < res.length; i++) {
            let row = document.createElement('div')
             row.setAttribute('class', 'row') 
             let num = document.createElement('h4') 
             num.textContent = i + 1
            let nam = document.createElement('h4')
            nam.textContent = res[i].userName
            nam.setAttribute('class', 'userName') 
            let ball = document.createElement('h4')
            ball.textContent = res[i].userBall 
            row.appendChild(num) 
            row.appendChild(nam) 
            row.appendChild(ball)
            tabele.append(row)
         }

         let cliking = document.querySelectorAll('.userName')

         cliking.forEach(element  => {
            element.addEventListener('click', async () => {
               let resp = await fetch(`/user/${element.textContent}`, {
                  method: "POST",
               })
               
               
               
                  await window.location.assign('/user')
               
            })
         })

      })()
   </script>
</body>

</html>